.App {
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgb(0, 4, 41), rgb(23, 27, 62));
  height: 100vh;
  width: 100vw;
  margin-top: -1.1%;
}

#headerStyle {
  color: aquamarine;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#popUpBox {
  width: 90vw;
  height: 90vh;
  position: fixed; 
  top: 3%; 
  left: 5%;
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 25px;
}

#closeX {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.491);
  text-align: center;
  border-radius: 25px;
  margin-left: 98%;
  margin-top: -39%;
}

#buttonStyling {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 5%;
}

.buttonStyleRemove {
  border: none;
  background: none;
}

#imageHandle {
  margin-top: 3%;
  margin-left: -70%;
}

#saleText {
  margin-top: 3%;
  font-size: 8em;
  font-weight: bolder;
  color: aquamarine;
}