.App {
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgb(151, 151, 151), rgb(23, 27, 62));
  height: 180vh;
  width: 100vw;
  margin-top: -5.1%;
}

#headerStyle {
  color: rgb(224, 71, 32);
}

#titleContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-top: 5%;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#cartImg {
  width: 50px;
  height: 50px;
  margin-top: 50%;
}

#popUpBox {
  width: 90vw;
  height: 90vh;
  position: fixed; 
  display: flex;
  justify-content: space-around;
  top: 3%; 
  left: 5%;
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 25px;
}

#buttonStyling {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 5%;
}

#catImg {
  height: 300px;
  width: 300px;
}

#catImg2 {
  height: 70vh;
  width: 70vh;
}

.buttonStyleRemove {
  border: none;
  background: none;
}

#imageHandle {
  margin-top: 3%;
  margin-left: -70%;
}

#saleText {
  margin-top: 3%;
  font-size: 8em;
  font-weight: bolder;
  color: rgb(224, 71, 32);
}